@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
span,
form,
fieldset,
input,
select,
label,
textarea,
table,
caption,
thead,
tfoot,
tbody,
tr,
th,
td {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Pretendard', sans-serif;
    /* font-size: 18px; */
    font-weight: 500;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}
